body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    justify-content: space-between;
    

}

header{
    width: 100%;
    margin-bottom: 50px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    -webkit-box-shadow: 0px 9px 12px 0px #000000; 
box-shadow: 0px 9px 12px 0px #bfbfbf;
}
.headerRight{
    display: flex;
    flex-direction: row;
}
.headerRight a{
padding: 0 2rem;
display: flex;
flex-direction: column;
align-items: center;
}
.headerRight img{
    max-width: 32px;
    height: auto;
}
header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#cookieCar{
    display: flex;
    text-align: center;
}



/* BODY  */
.container-main{
    margin-top: 7rem;
}
.content-main{
    display: flex !important;
}
.content-main:first-child{
    width: 100px;
}


#divCookieCar ul{
list-style: none;
}


    #categoryContainer{
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    #categoryContainer li{
        margin: 2rem 0;
    }
#billBt{
    display: flex;
    margin: auto;
    padding: 1rem;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gray;
    margin: 0;
    padding: 0;
}



.iconTittle {
    align-items: center;
    display: flex;
}

.navDiv {
    width: 100%;
}

.nav {
    width: 100%;
    padding: 0;
}

.nav li {
    display: inline;
    padding-right: 1%;
    padding-left: 1%;
}

a {
    text-decoration: none;
    color: black;
    margin: auto;
}

/* SERGIO */

p{
    margin: 0;;
}

/* HEADER & FOOTER */

footer{
    position: sticky !important;
    bottom: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    -webkit-box-shadow: 0px -8px 12px 0px #000000; 
    box-shadow: 0px -8px 12px 0px #bfbfbf;
    height: 65px;
    padding: .7rem;
}

.container_header, .container_footer{
    height: auto;
    background-color: grey;
    display: flex;
    flex-direction: row;
    opacity: .9 !important;
    width: 100%;
}
.container_header .menuLogo, .container_header .menuUser{
    width: 10%;
}
.container_header .menuSearch{
    width: 80%;
}
.menuSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuSearch input{
padding: .5rem;
border-radius: 1rem;
}
.menuSearch form{
    margin: 0;
}

.container_footer{
    flex-direction: row-reverse;
}
.container_footer .menu{
    flex-direction: row-reverse;
}

/* .container_footer .menu ul{
    flex-direction: row-reverse;
} */
.menuLogo{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.menuLogo a, .menuUser a{
    display: flex;
}
.menuLogo img, .menuUser img{
    margin: auto;
    padding: .5rem 0 ;
}
.menuLogo img:hover{
    -moz-transform: rotate(-360eg);
    -o-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition-duration: 2s;
}
.menu{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: fantasy;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style:none;
    margin: 0;
}
.menu li{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu a{
    color: honeydew;
    font-size: 1.2rem;
}
.menu a:hover{
    color: #f5bd67;
}

/* RESPONSIVE HEADER*/

@media(max-width: 769px){
    .menu a{
        font-size: .9rem;
    }
}

@media(max-width: 515px){
    .container_header{
        flex-direction: column;
    }
    .menu{
        width: 100%;
    }
    .menu ul{
        justify-content: center;
        padding: .5rem 0;
    }
    .menuLogo{
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }
}

/* LOGIN FORM */

#formsDiv {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#formsDiv #newClient, #formsDiv #startClient {
    display: flex !important; 
    flex-direction: row;
    justify-content: space-evenly;
}
#formsDiv #newClient div, #formsDiv #startClient div{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
#formsDiv form{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 7px 0px #000000; 
box-shadow: 0px 0px 7px 0px #000000;
border-radius: 0.7rem;
}
#formsDiv form input{
   height: 2rem;
   margin: .5rem 0;
}
.loginForm{
    height: 90%;
    display: flex;
    background-image: url(../IMAGES/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.loginForm form{
    padding: 2rem;
    background-color: #80808096;
    border-radius: 1rem;
}
.loginForm input{
    margin: 1rem 0;
}
.loginForm button{
    margin: 1rem 0;
}


/* PRODUCT BOX MUSIC & VIDEO */

.mainPrincipal{
    display: flex;
    flex-direction: row;
}
.filterCategory{
    width: 100px;
    position: fixed;
    padding: 65px 0;
    background-color: #fff;
    height: 100%;
    -webkit-box-shadow: 3px 0px 8px -2px #000000; 
box-shadow: 3px 0px 8px -2px #000000;
}
.filterCategory ul{
   list-style: no;
}
.mainBox{
    width: calc(100% - 100px);
        display: flex;
        flex-direction: column-reverse;
        margin-left: 100px;
        margin-top: 100px;
}
#shopContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

}
.containerBox{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;

}

.videoBox, .musicBox, .videoBoxDescription, .musicBoxDescription{
    margin: 0 1rem;
    min-height: 150px;
    height: 50%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.videoBoxDescription, .musicBoxDescription{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #fff;
    border-end-end-radius: 1.5rem;
    border-end-start-radius: 1.5rem;
    justify-content: space-evenly;
    text-align: center;

}
.videoBoxDescription .avatar, .musicBoxDescription .avatar{
    min-width: 50px;
}
.avatar img{
    border-radius: 100%;
}


.musicBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 0 1rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}
.videoBox video{
    width: 100%;
    height: auto;
    border-start-end-radius: 1.5rem;
    border-start-start-radius: 1.5rem;
}
.musicBox audio{
    width: 100%;
}

.productBoxVideo, .productBoxMusic{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.metaVideoBoxDescription h4, .metaMusicBoxDescription h4,  .metaMusicBoxDescription h3{
margin: auto;
padding: 0 .5rem;
}

.metaVideoBoxDescription{
    width: 100%;
}
.metaVideoBoxDescription div, .metaMusicBoxDescription div{
   padding: .5rem 0;
}
.metaVideoBoxDescription div h3, .metaMusicBoxDescription div h3{
    margin: 0;
 }
.container-main-bill .metaVideoBoxDescription, .container-main-bill .metaMusicBoxDescription{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.videoBoxDescription h3, .metaMusicBoxDescription h3{
    margin: 0 !important;
    text-align: center;
}
.metaMusicBoxDescription h3{
    margin: 0 !important;
    padding: .5rem;
    text-align: center;

}


.mainBox #ulCookieCar{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.mainBox #ulCookieCar .metaVideoBoxDescription{
    background-color: rgb(245, 214, 214);
    border: 1px solid grey;
    width: 25%;

}
.mainBox #ulCookieCar .metaMusicBoxDescription{
    background-color: rgb(233, 255, 232);
    border: 1px solid grey;
    width: 25%;
}
/* SECTION */
.features{
    margin: auto;
    width: 90%;
}
/* RESPONSIVE SECTION*/


@media(max-width: 1280px){
    .containerPersonajes {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
}

@media(max-width: 769px){
    .container_footer{
        flex-direction: row-reverse;

    }
    .container{
        flex-direction: column;
    }
    .menu div{
        width: 100%;
    }
    .containerBox{
        width: 48%;
    }

}

@media(max-width: 500px){
    .container_footer{
        flex-direction: row-reverse;

    }
    .container{
        flex-direction: column;
    }
    .menu div{
        width: 100%;
    }
    .containerBox{
        width: 96%;
    }

}

